@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'poppins' sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #7f7;
}
.wrapper{
  background: #fff;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}
.form{
  padding: 25px 30px;
}
.form header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.form form{
  margin: 20px 0;
}
.form form .error-txt{
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}
/* .form form .nome-detalhes{
  display: flex;
} */
/* form .nome-detalhes .campo:first-child{
  margin-right: 10px;
}
form .nome-detalhes .campo:last-child{
  margin-left: 10px;
}  */
.form form .campo{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form form .campo input{
  outline: none;
}
.form form .campo label{
  margin-bottom: 2px;
}
.form form .campo input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form form .image input{
  font-size: 17px;
}
.form form .button input{
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.form .link{
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}
.form .link a{
  color: #333;
}
.fom link a:hover{
  text-decoration: underline;
}
.form form .campo i{
  position: relative;
  right: 15px;
  color: #ccc;
  top: 70px;
}

.usuario{
  padding: 25px 30px;
}
.usuario header,
.usuario-lista a{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
:is(.usuario, .usuario-lista) .content{
  display: flex;
  align-items: center;
}
.usuario header .content img{
  height: 50px;
  width: 50px;
}
.wrapper img{
  object-fit: cover;
  border-radius: 50%;
}
.usuario header .content img{
  height: 50px;
  width: 50px;
}
:is(.usuario, .usuario-lista) .detalhe{
  margin-left: 15px;
  color: #000;
}
:is(.usuario, .usuario-lista) span{
  font-size: 18px;
  font-weight: 500;
}
.usuario header .logout{
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  background: #333;
  border-radius: 5px;
}
.usuario .search{
  margin: 20px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.usuario .search .text{
  font-size: 18px;
}
.usuario .search input{
  position: absolute;
  height: 42px;
  width: calc(100% - 50px);
  border: 1px solid #ccc;
  padding: 0 13px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}
.usuario .search button{
  width: 47px;
  height: 42px;
  border: none;
  outline: #fff;
  color: #333;
  cursor: pointer;
  font-size: 17px;
  border-radius: 0 5px 0 5px;
}
.usuario-lista{
  max-height: 350px;
  overflow-y: auto;
}
:is(.usuario-lista, .chat-box)::-webkit-scrollbar{
  width: 0px;
}
.usuario-lista a{
  margin-bottom: 15px;
  page-break-after: 10px;
  padding-right: 15px;
  border-bottom-color: #f1f1f1;
}
.usuario-lista a:last-child{
  border: none;
  margin-bottom: 0px;
}
.usuario-lista a .content img{
  height: 40px;
  width: 40px;
}
.usuario-lista a .status-dot{
  font-size: 12px;
  color:#468669;
}

.usuario-lista a .content p{
  color: #57575a;
}
.usuario-lista a .status-dot.offline{
  
  color:#ccc;
}
.chat-area header{
  display: flex;
  align-items: center;
  padding: 18px 30px;
}
.chat-area header img{
  height: 40px;
  width: 40px;
  margin: 0 15px;
}
.chat-area header .back-icon{
  font-size: 18px;
  color: #333;
}
.chat-area header span{
  font-size: 17px;
  font-weight: 500;
}
.chat-box{
  overflow: auto;
  height: 500px;
  background: #f7f7f7f7;
  padding: 10px 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%)
              inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat{
  margin: 15px 0;
}
.chat-box .chat p{
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%)
              0 16px 16px -16px rgb(0 0 0 / 10%);
}
.chat-box .outgoing{
  display: flex;
}
.outgoing .detalhe{
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .detalhe p{
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming{
  display: flex;
  align-items: flex-end;
}
.chat-box .incoming img{
  height: 35px;
  width: 35px;
}
.incoming .detalhe{
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
}
.incoming .detalhe p{
  color: #333;
  background: #fff;
  border-radius: 18px 18px 18px 0;
}
.chat-area .typing-area{
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
}
.typing-area input{
  height: 45px;
  width: calc(100% - 58px);
  font-size: 17px;
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px 0 0 5px;
  outline: none;
}
.typing-area button{
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}


